/* 
Color Palette:

Midnight Green Eagle Green: #104f55;
Transparent Eagle: rgba(16, 79, 85, 0.8);
Myrtle Green: #01200f;
Cambridge Blue: #9ec5ab;
Dark Green: #01200f;
Dark Jungle Green: #011502;
*/

/* GENERAL STYLING */
body {
    background: #9ec5ab;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #011502;
}

h1, h2, h3, h4, h5, h6, hr, p {
    color: #01200f;
}

/* NAVIGATION START */
/* Make list items go on opposite end of logo */
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-color {
    background: #01200f;

}
.navbar-color a {
    color: #fff !important;
    transition: all .3s;
}
.navbar-color a:hover,
.navbar-color a:focus {
    color: #9ec5ab !important;
}

/* NAVIGATION END */


/* HOME PAGE START */
/* CAROUSEL */
.carousel-arrows {
    font-size: 3rem;
}
.carousel-arrows {
    padding: .5rem;
    border-radius: 100%;
}
.carousel-caption,
.carousel-arrows {
    background: #104f55;
    color: #9ec5ab;
}
.carousel-caption {
    padding: 1.5rem 2rem 2rem;
}
.carousel-indicators {
    padding-bottom: 1rem;
}
.bg-eagle {
    background: rgba(16, 79, 85, 0.8);
}
.bg-eagle h2,
.bg-eagle p {
    color: #fff;
}
/* CAROUSEL END */
/* HOME PAGE END */


/* PORTFOLIO START */
.bg-myrtle {
    background: #32746d;
}
/* PORTFOLIO END */


/* CONTACT START */
.form {
    background:  #32746d;
}
form h1 {
    color: #fff;
}
label {
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
form > div.mb-3:nth-of-type(3) label,
form > div.form-floating label {
    padding-top: 1rem;
}
input,
textarea {
    background: rgb(196, 223, 205) !important;
}
::placeholder {
    color: #011502 !important;
}
.btn-contact {
    background: #01200f;
    color: #fff;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.btn-contact:hover,
.btn-contact:focus {
    background: #011502;
    color: #9ec5ab;
}
/* CONTACT END */


/* FOOTER START */
footer {
    background: #011502;

}
footer span {
    color: #fff;
    transition: all .3s;
}
footer span:hover,
footer span:focus {
    color: #9ec5ab;
}
/* FOOTER END */


/* MEDIA QUERIES */
/* Target arrows for carousel to make them more visible. */
@media all and (max-width: 576px) {
    .carousel-arrows {
        font-size: 1.5rem;
    }
}

/* Modify Container grid sizing per device size. */
@media all and (min-width: 992px) {
    .container-grid {
        width: 80%;
    }

    /* Even padding when image grid goes from 1 on a row to 2 */
    .row:first-of-type > .col-lg-6.pb-3:nth-child(2) {
        padding-top: 1rem;
    }
}

@media all and (max-width: 991px) {
    .container-grid {
        width: 50%;
    }
}

@media all and (max-width: 700px) {
    .container-grid {
        width: 60%;
    }
}

@media all and (max-width: 600px) {
    .container-grid {
        width: 65%;
    }
}

@media all and (max-width: 500px) {
    .container-grid {
        width: 75%;
    }
}

@media all and (max-width: 499px) {
    .container-grid {
        width: 95%;
    }
}

@media all and (max-width: 400px) {
    .container-grid {
        width: 100%;
    }
}





