body {
    background: #094074;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* NAVIGATION START */
/* Make list items go on opposite end of logo */
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
/* NAVIGATION END */


/* HOME PAGE START */
/* CAROUSEL */
.carousel-arrows {
    font-size: 3rem;
}

.carousel-arrows {
    padding: .5rem;
    border-radius: 100%;
}

.carousel-caption,
.carousel-arrows {
    color: #ffebcd;
    background: rgba(81, 41, 30, 0.9);
}

.carousel-caption {
    padding: 1.5rem 2rem 2rem;
}

.carousel-indicators {
    padding-bottom: 1rem;
}
/* CAROUSEL END */
/* HOME PAGE END */


/* PORTFOLIO START */
.bg-brown {
    background: #51291e;
}
/* PORTFOLIO END */


/* CONTACT START */
.form {
    background:  #ffebcd;
}

.btn-contact {
    background: #094074;
    color: #ffebcd;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn-contact:hover,
.btn-contact:focus {
    background: #51291e;
    color: #ffebcd;
}
/* CONTACT END */


/* MEDIA QUERIES */
/* Target arrows for carousel to make them more visible. */
@media all and (max-width: 576px) {
    .carousel-arrows {
        font-size: 1.5rem;
    }
}

/* Modify Container grid sizing per device size. */
@media all and (min-width: 992px) {
    .container-grid {
        width: 80%;
    }

    /* Even padding when image grid goes from 1 on a row to 2 */
    .row:first-of-type > .col-lg-6.pb-3:nth-child(2) {
        padding-top: 1rem;
    }
}

@media all and (max-width: 991px) {
    .container-grid {
        width: 50%;
    }
}

@media all and (max-width: 700px) {
    .container-grid {
        width: 60%;
    }
}

@media all and (max-width: 600px) {
    .container-grid {
        width: 65%;
    }
}

@media all and (max-width: 500px) {
    .container-grid {
        width: 75%;
    }
}

@media all and (max-width: 499px) {
    .container-grid {
        width: 95%;
    }
}




